{{extend 'layout.html'}}

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div style="margin:75px; padding:20px; border-style:solid; border-width:0px;">
        <img style="margin: 50px; text-align: center;" src="{{=URL('static', 'images/upload-logo.png')}}" alt="UpLoad Logo"/>
        {{for m in message:}}
        <p>{{=m}}</p>
        {{pass}}
    </div>
    <div class="right_button">
        {{=button}}
    </div>

    {{=javascript_warning}}

    {{=remove_warning}}
  </div>
</div>
