{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/screen.css')}}" rel="stylesheet" type="text/css" />

<div style="margin-left: auto; margin-right: auto; width: 60%;">
    <h2>{{=T('Download files')}}</h2>

    {{if 'grid' in globals():}}
        {{=grid}}
    {{pass}}

    {{if 'download_button' in globals():}}
        <div class="right_button"> {{=download_button}} </div>
    {{pass}}

    {{if 'message' in globals():}}
        <div class="warning_message">
            {{=message}}
        </div>
    {{pass}}

</div>

